/* ###########################
--------- OVERALL ------------ 
############################ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 2rem 7.5vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #000000;
    background-image: 
        linear-gradient(300deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%),
        url(images/pexels-jonathan-borba_desktop-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 35%;
}

.content-container {
    width: 50rem;
    margin: auto;
}

a {
    color: #e2e2e2;
    text-decoration: none;
    transition: 0.3s ease;
}

a:hover {
    font-size: 0.95rem;
    color: rgb(230, 196, 9);
}

/* ###########################
--------- HEADING ------------ 
############################## */

header {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

.brand {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color:rgb(230, 196, 9);
    text-shadow: 0.1em 0.1em 0.2em rgb(8, 93, 190);
    margin: 0rem 1rem;
}

/* ###########################
----------- FORM -------------
############################ */

form {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    padding: 1rem 3rem;
    margin: 3.5rem 5rem;
    box-shadow: 0px 0px 0.5rem rgba(255, 255, 255, 0.2);
}

hr {
    margin: 3rem 0rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-content-group {
    margin-bottom: 3rem;
}

.content-group-instruction {
    font-size: 1.3rem;
    font-weight: 400;
}

label, 
input, 
select,
textarea, 
button {
    font-size: 1.1rem;
    font-family: inherit;
}

label {
    display: flex;
    align-items: center;
    line-height: 1.6rem;
    color: #efefef;
}

input[type='radio'],
input[type='checkbox'] {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.3rem 1rem 0.3rem 2rem;
}
.form-control, 
textarea {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.form-control {
    height: 2.6rem;
    margin: 0.2rem 0px 1.5rem 0px;

}

textarea {
    min-height: 8rem;
    resize: vertical;
}

button {
    display: block;
    margin: auto;
    padding: 1.3rem 5rem;
    background-color: rgb(230, 196, 9);
    border: none;
    border-radius: 0.3rem;
   font-weight: 400;
   transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0em 0em 0.3em 0.15em rgb(8, 93, 190);
}

input:focus,
textarea:focus,
button:focus,
.form-control:focus {
    outline: none;
    border: 1px solid rgb(8, 93, 190);
    box-shadow: 0px 0px 0.3rem 0.2rem rgb(8, 93, 190);
}

/* ###########################
--------- FOOTER --------- 
############################ */

footer {
    margin: 5rem 0rem 3rem 0rem;
    text-align: center;
}
footer p {
    color:  #cacaca;
    font-weight: 400;
    margin: 0.1rem;
}

.prev-next-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.developer {
    margin-top: 1.5rem;
}

.prev-project,
.next-project {
    padding: 0.2rem 1rem;
    margin: 0.3rem 0rem;
}
.prev-project {
    border-right: 1px solid #cacaca;;
}